---
import Layout from "../layouts/Layout.astro";
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";

import { playlists } from "@/lib/data";
---

<Layout title="Spotify clone">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-green-600"
  >
    <!-- <PageHeader /> -->

    <div class="relative z-10 px-6">
      <!-- <Greetings /> -->
      <h1 class="text-4xl font-bold">Buenos días</h1>
      {playlists.map((playlist) => <PlaylistItemCard playlist={playlist} />)}
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
      H
    </div>
  </div>
</Layout>

<style></style>
